
$icon-hosp-bg: #FFFFFF;
$icon-hosp-fg: #7AB317;

/* ---NAVBAR--- */

.navbar {
  --bs-navbar-color: white;
  --bs-navbar-hover-color: #FFFFFFAA;
  --bs-navbar-disabled-color: #FFFFFF80;
  --bs-navbar-active-color: white;
  --bs-navbar-brand-color: white;
  --bs-navbar-brand-hover-color: #FFFFFFAA;
}

/* ---SIDEBAR--- */

.tooltip-inner {
  text-align: left;
  color: black;
  background-color: white;
  border: 1px solid black;
}

.tooltip.show {
  opacity: 1;
}

/* Prevent selected item from overlapping with dropdown arrow */
.selectize-input.items.full.has-options.has-items > .syn-flex-container > .syn-text {
  padding-right: 1.5rem;
}

/* Hide the input element which on loading makes the input box too big */
.selectize-input.items.full.has-options.has-items > input {
  display: none !important;
}

.syn-select-input .selectize-input.items.full .syn-icon {
  margin-left: 0 !important;
}

/* Increase the max height of dropdown list */
.selectize-dropdown-content {
  max-height: 400px !important;
}

/* RI input radio button background colors */
.ri-select-input .shiny-options-group > .radio:nth-child(1) input {
  background-color: #18D6CBFF;
}

.ri-select-input .shiny-options-group > .radio:nth-child(2) input {
  background-color: #78FE5AFF;
}

.ri-select-input .shiny-options-group > .radio:nth-child(3) input {
  background-color: #E1DD37FF;
}

.ri-select-input .shiny-options-group > .radio:nth-child(4) input {
  background-color: #FB8022FF;
}

.ri-select-input .shiny-options-group > .radio:nth-child(5) input {
  background-color: #C42503FF;
}

/* ---BODY--- */

/* Cards */
.card {
  --bs-card-cap-bg: #626f7d;
  --bs-card-cap-color: white;
}

/* Row and card heights */
.clust-smry-tbl {
  height: calc(100vh - 145px);
}

.clust-smry-tbl > .bslib-gap-spacing {
  gap: 0;
}

.clust-row-1 {
  height: calc(calc(100vh - 220px) * .6);
}

.clust-row-2 {
  height: calc(calc(100vh - 220px) * .37);
}

/* Hospital legend marker, adapted from https://css-shape.com/plus/ */
.plus {
  height: 12px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 1px inset $icon-hosp-fg;
  border-image: conic-gradient($icon-hosp-fg 0 0) 50%/calc(50% - 1px);
  background-color: $icon-hosp-bg;
}

.plus-legend {
  height: 12px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 1px inset $icon-hosp-fg;
  border-image: conic-gradient($icon-hosp-fg 0 0) 50%/calc(50% - 1px);
  background-color: $icon-hosp-bg;
  margin: 4px;
}

/* Modify reactable scroll bar */
.rt-table {
  padding-right: 10px;
}

/* Cluster tab titles */
.cluster-tab-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

/* Example markdown table (About page) */
.md-casefile-table table {
  margin: auto;
}

.md-casefile-table th, .md-casefile-table td {
  border-bottom: 1px solid black;
  padding: 5px 10px;
}

